#u73-4,#u85-4
{
	font-family: lancelot-n4, serif;
}

#u164-4,#u167-6,#u167,#u167-3
{
	font-family: droid-serif-n4, serif;
}

#u96-4,#u156-4,#u178-4
{
	font-family: droid-serif-n7, serif;
}

#u107-4,#u107,#u155-4,#u179-4,#u180-4
{
	font-family: droid-serif-n4, serif;
}

