#u75
{
	background-color: transparent;
	position: relative;
}

#u73-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	text-align: left;
	font-family: lancelot, serif;
	font-weight: 400;
	position: relative;
}

#u85-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	text-align: left;
	font-family: lancelot, serif;
	font-weight: 400;
	position: relative;
}

#u83
{
	border-style: none;
	border-color: transparent;
	background-color: #EEEEEE;
}

#u72,#u163
{
	border-style: none;
	border-color: transparent;
	background-color: #333333;
}

#u72_align_to_page,#u83_align_to_page,#u163_align_to_page
{
	position: relative;
}

#u164-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u167-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: droid-serif, serif;
	font-weight: 400;
	position: relative;
}

#u167,#u167-3
{
	font-family: droid-serif, serif;
	font-weight: 400;
}

#u90,#u86,#u92,#u170
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u165
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

